<%- include("partials/header") %>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to BlogApp</h1>
      <h2>Amazing website for History blog, educational blog &amp; more...</h2>
      <img src="img/hero-img.jpg" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" />
      <div style="display:flex;">
      <a href="create-blog" style="margin-right:10px;" class="btn-get-started scrollto">Create Blog</a>
      <a href="Blogs" style="margin-left: 10px;" class="btn-get-started scrollto">View Blog</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <%- include("partials/footer") %>